@font-face {
  font-family: 'Istok Web';
  src: url(https://pictures.s3.yandex.net/fonts/istokregular.woff2) format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/istokregular.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/istokregular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url(https://pictures.s3.yandex.net/fonts/istokbold.woff2) format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/istokbold.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/istokbold.ttf) format('truetype');
  font-weight: bold;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Istok Web', Arial, sans-serif;
  color: #000;
}
